---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
import { Image } from 'astro:assets';
import groomerHasItMobile from '../images/groomer-has-it-mobile.png';
import groomerHasItTablet from '../images/groomer-has-it-tablet.png';
import groomerHasIt from '../images/groomer-has-it.png';
import squigglyUnderline from '../images/squiggly-underline.png';
import performanceIcon from '../images/performance-icon.png';
import accessibilityIcon from '../images/accessibility-icon.png';
import bestPracticesIcon from '../images/best-practices-icon.png';
import seoIcon from '../images/seo-icon.png';
---

<Layout title="Kick Your Website into High Gear - Varial Web Development">
	<main>
		<Hero />
		<section class="overflow-hidden flex flex-col lg:flex-row gap-10 lg:gap-0 items-center py-5">
			<Image id="groomer-has-it-mobile" src={groomerHasItMobile} alt="Groomer has it" class="md:hidden" />
			<Image id="groomer-has-it-tablet" src={groomerHasItTablet} alt="Groomer has it" class="hidden md:block lg:hidden" />
			<Image id="groomer-has-it" src={groomerHasIt} alt="Groomer has it" class="hidden lg:block order-2 w-1/2" />
			<div id="custom-designs-copy" class="py-2.5 px-4 md:px-16 flex flex-col items-center lg:items-start gap-8 md:gap-10">
				<h2 class="text-4xl leading-tight font-bold text-center lg:text-start md:max-w-[20ch]">Custom Web Designs to Bring <span class="relative">Your Brand<Image src={squigglyUnderline} alt="" class="w-full absolute left-0 -bottom-2" /></span> to Life</h2>
				<p class="lg:float-left">
					As a business owner, you have a vision of how you can make the world a better place through your work. 
					You are a different caliber than the rest, and it shows in how you show up every day. 
					You’re likely a master of your craft, but when it comes to getting a website going, 
					it may be overwhelming or downright impossible to fit into your busy life. That’s where we come in. 
					<br /><br />
					With Varial Web Services, you will have a close-knit, dedicated team working alongside you to bring your branding and image to life online. 
					In our digital age, having a strong online presence isn’t just ideal but necessary to stay competitive in your industry. 
					We understand the ins and outs of online marketing and branding, and can use our expertise to create a website that will keep up with the times, 
					engage new potential clients, and show Google you mean business... literally.
					<br /><br />
					We get it -- your website may not always feel like a top priority. Maybe you muddled your way through WordPress just to get something out there, 
					or your nephew used his middle school programming class to slap a quick and dirty website together. 
					You may have even used a web development agency in the past, circa the turn of the century. No matter your story, 
					we know that it can be daunting to tackle such a big project and figure out where to start to really capture who you are and what you do in your business. 
					We work diligently to get to know you so that you can continue to focus on what you do best while we do the rest.
				
					</p>
				<a href="/contact" class="action-button">Build My Website</a>
			</div>
		</section>
		<section id="seo-section" class="flex flex-col items-center py-5 px-4 md:px-16 gap-8 md:gap-10">
			<h2 class="text-4xl leading-tight font-bold text-center md:max-w-[30ch]">Web Development & Optimization for Your <span class="relative">Best Google<Image src={squigglyUnderline} alt="" class="w-full absolute left-0 -bottom-2" /></span> Ranking</h2>
			<p class="max-w-[85ch]">
				We develop all of our websites using the best practices to ensure your business is ranked highly in the eyes of Google and other major search engines. 
				Using Google’s very own metrics as a guide, we program and optimize your website so you can climb in search engine results and have a website that not only looks great, 
				but runs flawlessly for every prospective client. 
				<br /><br />
				Many web development agencies will make lofty promises such as guaranteeing #1 in Google search results. 
				As much as we’d like to sell you the secret to success, we don’t sugar coat or puff up this part of the business. 
				If an agency tells you they can boost you in a matter of months, it’s sadly too good to be true. 
				The reality is that it takes years to establish a reputable, active foundation online, and there isn’t any quick fix that can do this for you without cutting corners. 
				These kind of accomplishments often rely on some shady practices that Google frowns upon, such as SEO stuffing or fake back links, 
				which can hurt your website’s success in the long run. 
				<br /><br />
				We pride ourselves in ethical practices when it comes to boosting your website, and we value transparency with every client that we work with. 
				While it won’t happen overnight, we can help you work toward this goal by creating solid building blocks to work off of. 
				With our conscious methods and strategies, you can trust that your website will have the pieces it needs to compete in the digital space while you are building your business. 
				With proper optimization, accessible, mobile-friendly designs, and SEO driven content, 
				you won’t have to spend a fortune or worry about risky workarounds to find yourself rising in the search results. 
			</p>
			<a href="#contact" class="action-button">Test My Metrics</a>
		</section>
		<section class="py-16 md:gap-24 lg:px-16 overflow-hidden relative">
			<ul class="flex flex-col lg:grid lg:grid-cols-2 lg:justify-items-center 2xl:grid-cols-4 lg:justify-center items-center gap-16 md:gap-24">
				<div id="cards-banner" class="absolute w-screen h-[170px] bg-[#0368AF] hidden 2xl:block"></div>
				<li id="performance-card" class="bg-white lg:h-full grid place-items-center gap-8 py-10 px-5 md:px-12 border-2 border-[#02D7D4] rounded-[20px] relative z-10 max-w-[350px]">
					<Image src={performanceIcon} alt="" class="h-[160px] w-auto" />
					<h2 class="text-4xl text-center">Website Performance</h2>
					<p class="text-center lg:w-[250px]">
						We design mobile-first so your website looks great and loads quickly on every device. With servers hosted all over the world, every visitor can access your page in a matter of seconds.
					</p>
					<div class="absolute w-[calc(100%_+_24px)] h-[calc(100%_-_32px)] border-2 border-[#0368AF] rounded-[20px]"></div>
					<div class="absolute w-[calc(50vw-50%)] md:w-[calc(50vw-175px)] h-[170px] bg-[#0368AF] -left-[calc(50vw-50%)] md:-left-[calc(50vw-175px)] border-r-2 border-[#02D7D4] 2xl:hidden lg:w-[calc(25vw-175px+32px)] lg:-left-[calc(25vw-175px+32px)]"></div>
					<div class="absolute w-[calc(50vw-50%)] md:w-[calc(50vw-175px)] h-[170px] bg-[#0368AF] -right-[calc(50vw-50%)] md:-right-[calc(50vw-175px)] border-l-2 border-[#02D7D4] 2xl:hidden lg:w-[calc(25vw-175px+32px)] lg:-right-[calc(25vw-175px+32px)]"></div>
				</li>
				<li id="accessibility-card" class="bg-white lg:h-full grid place-items-center gap-8 py-10 px-5 md:px-12 border-2 border-[#02D7D4] rounded-[20px] relative z-10 max-w-[350px]">
					<Image src={accessibilityIcon} alt="" class="h-[160px] w-auto" />
					<h2 class="text-4xl text-center">Visitor Accessibility</h2>
					<p class="text-center lg:w-[250px]">
						We want every site visitor to easily be able to access your content. Our pages are designed for color blindness, vision impairments, and screen readers so you can reach every demographic.
					</p>
					<div class="absolute w-[calc(100%_+_24px)] h-[calc(100%_-_32px)] border-2 border-[#0368AF] rounded-[20px]"></div>
					<div class="absolute w-[calc(50vw-50%)] md:w-[calc(50vw-175px)] h-[170px] bg-[#0368AF] -left-[calc(50vw-50%)] md:-left-[calc(50vw-175px)] border-r-2 border-[#02D7D4] 2xl:hidden lg:w-[calc(25vw-175px+32px)] lg:-left-[calc(25vw-175px+32px)]"></div>
					<div class="absolute w-[calc(50vw-50%)] md:w-[calc(50vw-175px)] h-[170px] bg-[#0368AF] -right-[calc(50vw-50%)] md:-right-[calc(50vw-175px)] border-l-2 border-[#02D7D4] 2xl:hidden lg:w-[calc(25vw-175px+32px)] lg:-right-[calc(25vw-175px+32px)]"></div>
				</li>
				<li id="best-practices-card" class="bg-white lg:h-full grid place-items-center gap-8 py-10 px-5 md:px-12 border-2 border-[#02D7D4] rounded-[20px] relative z-10 max-w-[350px]">
					<Image src={bestPracticesIcon} alt="" class="h-[160px] w-auto relative left-4" />
					<h2 class="text-4xl text-center">Best Practices</h2>
					<p class="text-center lg:w-[250px]">
						We use the latest technology to develop secure sites that protect you and your visitors. Throughout development, we keep user experience top of mind to ensure the website feels seamless at every step.
					</p>
					<div class="absolute w-[calc(100%_+_24px)] h-[calc(100%_-_32px)] border-2 border-[#0368AF] rounded-[20px]"></div>
					<div class="absolute w-[calc(50vw-50%)] md:w-[calc(50vw-175px)] h-[170px] bg-[#0368AF] -left-[calc(50vw-50%)] md:-left-[calc(50vw-175px)] border-r-2 border-[#02D7D4] 2xl:hidden lg:w-[calc(25vw-175px+32px)] lg:-left-[calc(25vw-175px+32px)]"></div>
					<div class="absolute w-[calc(50vw-50%)] md:w-[calc(50vw-175px)] h-[170px] bg-[#0368AF] -right-[calc(50vw-50%)] md:-right-[calc(50vw-175px)] border-l-2 border-[#02D7D4] 2xl:hidden lg:w-[calc(25vw-175px+32px)] lg:-right-[calc(25vw-175px+32px)]"></div>
				</li>
				<li id="seo-card" class="bg-white lg:h-full grid place-items-center gap-8 py-10 px-5 md:px-12 border-2 border-[#02D7D4] rounded-[20px] relative z-10 max-w-[350px]">
					<Image src={seoIcon} alt="" class="h-[160px] w-auto" />
					<h2 class="text-4xl text-center">Search Engine Optimization</h2>
					<p class="text-center lg:w-[250px]">
						We optimize your content throughout development so your site doesn’t get bogged down. Plus, all of the web copy is crafted with natural keywords to boost your ranking on search engines.
					</p>
					<div class="absolute w-[calc(100%_+_24px)] h-[calc(100%_-_32px)] border-2 border-[#0368AF] rounded-[20px]"></div>
					<div class="absolute w-[calc(50vw-50%)] md:w-[calc(50vw-175px)] lg:w-[calc(25vw-175px+32px)] h-[170px] bg-[#0368AF] -left-[calc(50vw-50%)] md:-left-[calc(50vw-175px)] lg:-left-[calc(25vw-175px+32px)] border-r-2 border-[#02D7D4] 2xl:hidden"></div>
					<div class="absolute w-[calc(50vw-50%)] md:w-[calc(50vw-175px)] lg:w-[calc(25vw-175px+32px)] h-[170px] bg-[#0368AF] -right-[calc(50vw-50%)] md:-right-[calc(50vw-175px)] lg:-right-[calc(25vw-175px+32px)] border-l-2 border-[#02D7D4] 2xl:hidden"></div>
				</li>
			</ul>
		</section>
	</main>
</Layout>

<script>
	import { animate, inView, timeline } from "motion"

	inView('#hero-content', (info) => {
		animate(info.target, { opacity: [0, 1] }, { duration: 2 })
	})
	inView('#hero-slide-container', (info) => {
		animate(info.target, { opacity: [0, 1] }, { duration: 2 })
	})
	const heroSequence = [
		['#hero-slide', { x: '0%' }, { duration: 3 }],
		['#hero-slide', { x: 'calc(-100% - 64px)' }, { duration: 4 }],
		['#hero-slide', { x: 'calc(-100% - 64px)' }, { duration: 4 }],
		['#hero-slide', { x: 'calc(-200% - 128px)' }, { duration: 4 }],
		['#hero-slide', { x: 'calc(-200% - 128px)' }, { duration: 4 }],
		['#hero-slide', { x: 'calc(-100% - 64px)' }, { duration: 4 }],
		['#hero-slide', { x: 'calc(-100% - 64px)' }, { duration: 4 }],
		['#hero-slide', { x: '0%' }, { duration: 4 }],
	]
	// @ts-ignore
	timeline(heroSequence, { duration: 28, repeat: Infinity,  })

	inView('#groomer-has-it-mobile', (info) => {
		animate(info.target, { opacity: [0, 1] }, { duration: 2 })
	})
	inView('#groomer-has-it-tablet', (info) => {
		animate(info.target, { opacity: [0, 1] }, { duration: 2 })
	})
	inView('#groomer-has-it', (info) => {
		animate(info.target, { opacity: [0, 1] }, { duration: 2 })
	})
	inView('#custom-designs-copy', (info) => {
		animate(info.target, { opacity: [0, 1] }, { duration: 2 })
	})
	inView('#seo-section', (info) => {
		animate(info.target, { opacity: [0, 1] }, { duration: 2 })
	})
	inView('#performance-card', (info) => {
		animate(info.target, { opacity: [0, 1] }, { duration: 2 })
	})
	inView('#accessibility-card', (info) => {
		animate(info.target, { opacity: [0, 1] }, { duration: 2 })
	})
	inView('#best-practices-card', (info) => {
		animate(info.target, { opacity: [0, 1] }, { duration: 2 })
	})
	inView('#seo-card', (info) => {
		animate(info.target, { opacity: [0, 1] }, { duration: 2 })
	})
	// inView('#cards-banner', (info) => {
	// 	animate(info.target, { opacity: [0.5, 1] }, { duration: 1 })
	// })

</script>


